{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="icon" href="https://images.emojiterra.com/google/android-12l/512px/1f4e6.png"/>
    <link rel="stylesheet" href="/static/css/lista.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/footer.css"/>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body style="padding: 1%;">
    {% include 'pages/header.html' %}

    {% block main_content %}
    {% endblock %}

    {% include 'pages/footer.html' %}
</body>
</html>